<% content_for :title do %>Bug Dashboard<% end %>
  <h1>Informed Solutions - Clean Air Zones Bugs</h1>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="bug1" data-view="Buglist" data-unordered="true" data-title="Bug Id: 01" data-bugticket="Bug Ticket" data-explanation="Description:" data-priority="Priority" data-status="Bug Status" data-moreinfo="status"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="bug2" data-view="Buglist" data-unordered="true" data-title="Bug Id: 02" data-bugticket="Bug Ticket" data-explanation="Description:" data-priority="Priority" data-status="Bug Status" data-moreinfo="status"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="bug3" data-view="Buglist" data-unordered="true" data-title="Bug Id: 03" data-bugticket="Bug Ticket" data-explanation="Description:" data-priority="Priority" data-status="Bug Status" data-moreinfo="status"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="Closed Bugs" data-view="Text" data-title="Closed Bugs"></div>
    </li>
  </ul>
</div>