<% content_for :title do %>Tester Drone Dashboard<% end %>
<h1>Informed Solutions - Clean Air Zones</h1>
<div class="gridster">
<ul>
<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
  <div data-id="welcome" data-view="Text" data-title="Informed Solutions" data-text="Clean Air Zones" ></div>
</li>

<li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
  <div data-id="VCCSUINightly" data-view="Status2" data-title="VCCS UI Nightly" data-addclass-broken="testHasFailed"></div>
</li>

<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
  <div data-id="VCCSUIST" data-view="Status2" data-title="VCCS UI ST"></div>
</li>

<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="VCCSUISIT" data-view="Status2" data-title="VCCS UI SIT"></div>
</li>

<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="VCCSAPINightly" data-view="Status2" data-title="VCCS API Nightly"></div>
</li>

<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="VCCSAPIST" data-view="Status2" data-title="VCCS API ST"></div>
</li>

<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="VCCSAPISIT" data-view="Status2" data-title="VCCS API SIT"></div>
</li>

<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="NTRUINightly" data-view="Status2" data-title="NTR UI Nightly"></div>
</li>

<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="NTRUIST" data-view="Status2" data-title="NTR UI ST"></div>
</li>

<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="NTRUISIT" data-view="Status2" data-title="NTR UI SIT"></div>
</li>

<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="NTRAPINightly" data-view="Status2" data-title="NTR API Nightly"></div>
</li>

<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="NTRAPIST" data-view="Status2" data-title="NTR API ST"></div>
</li>

<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="NTRAPISIT" data-view="Status2" data-title="NTR API SIT"></div>
</li>

</ul>
  
</div>

